<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cloverleaf</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo video.gif" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <img src="assets/img/logo video.gif" class="img-fluid mb-3 mb-lg-0" alt="">
        <h1>CLOVERLEAF</h1>
      </a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <ul>
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <!-- <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a> -->
            <!-- <ul>
               <li class="dropdown"><a href="#"><span>Product</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a> 
                <ul>
                    <li><a href="productdetails.html">Product</a></li>
                  </ul> -->
            <!-- </li> -->
            <li class="dropdown"><a href="#"><span>Services</span> <i
                  class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="truecare.html">TruCare </a></li>
                <li><a href="#">TruHaul</a></li>
                <li><a href="#">TruSense</a></li>
                <!-- <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li> -->
              </ul>
            </li>
          </ul>
          <li><a href="#">E-Store</a></li>
          <li><a href="#">Blog</a></li>
          <!-- <li><a href="pricing.html">Industry</a></li> -->
          <li class="dropdown"><a href="#"><span>Industry</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <!-- <li class="dropdown"><a href="#"><span>Product</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>  -->
            <ul>
              <li><a href="#">Packaging Industry</a></li>
              <li><a href="#">Food Industry</a></li>
              <li><a href="#">PEB Industry</a></li>
              <li><a href="#">Steel Industry</a></li>
              <li><a href="#">Dairy Plants Industry</a></li>
            </ul>
          </li>
          <li><a href="#">Latest Trends /News</a></li>
        </ul>
        </li>
    </div>

  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">"Building the future of Machine Service"
          </h2>
          <p data-aos="fade-up" data-aos-delay="100"> This digital work flow will create a
            line of sight and map machine,
            material & manpower, like an
            ‘Eye in the Sky’.

          </p>

          <!-- <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
            <input type="text" class="form-control" placeholder="ZIP code or CitY">
            <button type="submit" class="btn btn-primary">Search</button>
          </form> -->

          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Staff</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="253" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Qualified Engineers</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                <p>Clusters</p>
              </div>
            </div>
            <!-- End Stats Item -->

          </div>
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="https://www.auston.edu.sg/wp-content/uploads/2021/06/29750-Converted.png" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <br>
    <br>
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Our Services</span>
          <h2>Our Services</h2>

        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/Truecare-01-01-01-01.png" alt="" class="img-fluid">
              </div>
              <h3><a href="truecare.html" class="stretched-link">TRUCARE
                </a></h3>
              <p> TruCare aim to enhance maintenance efficiency using calendars and work logs. Real-time
                monitoring, just-in-time mapping, and collaboration optimize operations, while post-curative tracking
                and sensor/IoT records provide comprehensive insights.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/true haul-01-01-01.png " class="img-fluid">
              </div>
              <h3><a href="truehaul.html" class="stretched-link">TRUHAUL
                </a></h3>
              <p>
                TruHaul strives to provide clear cost projections and informed decision-making via estimates. It extends
                machinery lifespan, defers capital investments, and optimizes operations with unbiased expertise for
                improved capital returns.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/truesens-01-01-01-01-01.png" alt="" class="img-fluid">
              </div>
              <h3><a href="truesense.html" class="stretched-link">TRUSENSE
                </a></h3>
              <p>
                TRUSENSE aims to serve all installed OEM machines, ensuring adherence to mapped SLAs. As a one-stop
                maintenance hub, it offers remote access and guidance to OEMs, streamlining operations effectively.</p>
            </div>
          </div><!-- End Card Item -->


          <!-- <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row gy-4">

          <div class="section-header">
            <span>Our Services</span>
            <h2>Our Services</h2>
  
          </div> -->

          <!-- <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up"> -->
          <!-- <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div> -->

          <!-- <div>
              <h4 class="title">TrueHaul</h4>
              <p class="description">One time machine 
                overhaul to inject life 
                in to your machines.
                Enhance return on 
                capital employed.
                </p>
              <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div> -->
          <!-- End Service Item -->

          <!-- <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100"> -->
          <!-- <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div> -->
          <!-- <div>
              <h4 class="title">TrueSense</h4>
              <p class="description">A service for OEMs
                only, that have their 
                machines serviced in 
                remote locations.
                </p>
              <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div> -->
        </div><!-- End Service Item -->

        <!-- <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200"> -->
        <!-- <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div> -->
        <!-- <div>
              <h4 class="title">TrueCare</h4>
              <p class="description">For printing & Converting 
                Clients. Leave you worries 
                about machine service to us.</p>
              <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div> -->
      </div><!-- End Service Item -->

      </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->

    <div class="section-header">
      <span>About Us</span>
      <h2>About Us</h2>

    </div>
    <section id="about" class="about pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first" style="text-align: center;">
            <img src="assets/img/Industry-4.webp" style="height: 700px;"  class="img-fluid" alt="">
            <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a> -->
          </div>
          <div class="col-lg-6 content order-last  order-lg-first">
            <!-- <h3>About Us</h3> -->
            <p><br>
              <br>

              Introducing Industry 4.0 Standards for the Packaging and Converting Industry.
              Widely said interchangeably as the Fourth Industrial Revolution, Industry 4.0 at its core refers to the
              “smart” and
              connected production systems that are designed to sense, predict, and interact with the physical world, so
              as to make
              decisions and take actions that support production processes.
              In the process it helps to enhance return on capital employed.
              Anticipating faults and foreseeing machine conditions, remotely by digitally wiring up a system that can
              help take
              just-in-time actions is what Cloverleaf is set to follow.
              This helps to prevent creation of back – up capacity, while putting capital for better use.

            </p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-diagram-3"></i>
              <div>
                  <h5>Internet of Things (IoT)</h5>
                  <p>
                    The Internet of Things (IoT) is a key component of smart factories. Machines on the factory floor are equipped with sensors that 
                    feature an IP address that allows the machines to connect with other web-enabled devices.
                  </p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>AI and machine learning</h5>
                  <p>AI and machine learning can create insights providing visibility, predictability and automation of operations and business processes.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>Cloud computing</h5>
                  <p>
                    Cloud computing is a cornerstone of any Industry 4.0 strategy. Full realization of smart manufacturing demands connectivity and 
                    integration of engineering, supply chain, production, sales and distribution, and service.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <!-- <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Our Services</span>
          <h2>Our Services</h2>

        </div> -->

    <!-- <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/storage-service.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="service-details.html" class="stretched-link">Storage</a></h3>
              <p>Cumque eos in qui numquam. Aut aspernatur perferendis sed atque quia voluptas quisquam repellendus temporibus itaqueofficiis odit</p>
            </div> -->
    </div><!-- End Card Item -->

    <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/logistics-service.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="service-details.html" class="stretched-link">Logistics</a></h3>
              <p>Asperiores provident dolor accusamus pariatur dolore nam id audantium ut et iure incidunt molestiae dolor ipsam ducimus occaecati nisi</p>
            </div> -->
    </div><!-- End Card Item -->

    <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/cargo-service.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="service-details.html" class="stretched-link">Cargo</a></h3>
              <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum reiciendis sit doloremque oluptatem aut et molestiae ut et nihil</p>
            </div> -->
    </div><!-- End Card Item -->

    <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/trucking-service.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="service-details.html" class="stretched-link">Trucking</a></h3>
              <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum reiciendis sit doloremque oluptatem aut et molestiae ut et nihil</p>
            </div> -->
    </div><!-- End Card Item -->

    <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/packaging-service.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="service-details.html" class="stretched-link">Packaging</a></h3>
              <p>Illo consequuntur quisquam delectus praesentium modi dignissimos facere vel cum onsequuntur maiores beatae consequatur magni voluptates</p>
            </div>
          </div> -->
    <!-- End Card Item -->

    <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/warehousing-service.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="service-details.html" class="stretched-link">Warehousing</a></h3>
              <p>Quas assumenda non occaecati molestiae. In aut earum sed natus eatae in vero. Ab modi quisquam aut nostrum unde et qui est non quo nulla</p>
            </div> -->
    </div><!-- End Card Item -->

    </div>

    </div>
    </section><!-- End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="zoom-out">

        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h3>Cloverleaf</h3>
            <!-- <p>  Always an epitome of efficiency 
              in a complex world
              
            </p> -->
            <a class="cta-btn" href="#">Read More</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Features Section ======= -->

    <br>
    <br>
    <section id="features" class="features">
      <div class="container">

        <div class="section-header">

          <span> DMMS</span>
          <h2> DMMS</h2>

        </div>

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

          <div class="col-md-5">
            <img src="assets/img/Desl-01.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3>Digital Desktop Dashboard
            </h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.<br><br>
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Maintenance Calendar and Quick Access
              </li>
              <li><i class="bi bi-check"></i> Machine
                Guides & Sensor/IoT Records

              </li>
              <li><i class="bi bi-check"></i> Histroy of Machine Performance</li>
            </ul>
            <br><br><br>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/phone demo-01-01.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>Digital Mobile Dashboards</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.<br><br>
            </p>

            <ul>
              <li><i class="bi bi-check"></i> Machine Performance
                Monitoring

              </li>
              <li><i class="bi bi-check"></i> Skill & Parts Just-in-Time
                Mapping

              </li>
              <li><i class="bi bi-check"></i> Post Curative Monitoring
              </li>
            </ul>
            <br><br><br>
            <!-- <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p> -->
          </div>
        </div><!-- Features Item -->

        <!-- <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/features-3.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3>Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas</h3>
            <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
            <ul>
              <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
            </ul>
          </div> -->
      </div><!-- Features Item -->

      <!-- <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/features-4.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div> -->
      </div><!-- Features Item -->

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Pricing Section ======= -->
    <!-- <section id="pricing" class="pricing pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Pricing</span>
          <h2>Pricing</h2>

        </div>

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item">
              <h3>Free Plan</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div> -->
    </div><!-- End Pricing Item -->

    <!-- <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="pricing-item featured">
              <h3>Business Plan</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div> -->
    </div><!-- End Pricing Item -->

    <!-- <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="pricing-item">
              <h3>Developer Plan</h3>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div> -->
    </div><!-- End Pricing Item -->

    </div>

    </div>
    </section><!-- End Pricing Section -->
    <!-- RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR -->

    <section class="courses">

      <section id="features" class="features">
        <div class="container">

          <div class="section-header">
            <span>Our Team</span>
            <h2>Our Team</h2>
          </div>
          <br><br>


          <!-- <div class="section-header">
    <span>Our Team</span>
    <h2>Our Team</h2>

  </div> -->

          <div class="container courses_container">
            <article class="course">
              <div class="course_image">
                <img src="assets/img/1-01.png" />
              </div>
              <div class="course_info">
                <h3>Dipanker Mukherjee</h3>
                <h6>Co-founder</h6>

                <p>
                  Over 30 years of industry experience,
                  in sectors as Office Automation,
                  Telecom in leadership positions. An
                  alum of IIMA, worked in Fortune 500
                  companies, both Indian and
                  Multinational. Experience in
                  developing in new businesses and
                  creating technology platforms.
                </p>
              </div>
            </article>

            <article class="course">
              <div class="course_image">
                <img src="assets/img/2-01.png" />
              </div>
              <div class="course_info">
                <!-- <h4>Respponsive Social Media Website Ui Design</h4> -->
                <h3>Prem Vishwakarma</h3>
                <h6>Co-founder</h6>
                <p>
                  International exposure in converting
                  industry. Worked both in India
                  and abroad. Succesful entrepreneur
                  in machinery business.
                  Expert in machine optimisation
                  solutions over various makes.
                </p>
              </div>
            </article>
            <article class="course">
              <div class="course_image">
                <img src="assets/img/3-01.png" />
              </div>
              <div class="course_info">
                <!-- <h4>Respponsive Social Media Website Ui Design</h4> -->
                <h3>Pavan Singh</h3>
                <h6>Co-founder</h6>
                <p>
                  Technocrat with international
                  exposure, with over 30 year
                  experience in packaging and printing
                  industry. Worked in both,
                  multinational and Indian companies
                  in India and abroad.
                  Expert in sustainable packaging
                </p>
              </div>
            </article>
            <article class="course">
              <div class="course_image">
                <img src="assets/img/4-01.png" />
              </div>
              <div class="course_info">
                <!-- <h4>Respponsive Social Media Website Ui Design</h4> -->
                <h3>Subhasis Roy</h3>
                <h6>Co-founder</h6>
                <p>
                  An engineer and an IIMC alum, with
                  more than 30 years of experience,
                  with core experience in packaging
                  industry. Worked in India and abroad
                  in leadership positions. Vast
                  experience in setting up large projects
                  in various industries.
                </p>
              </div>
            </article>
          </div>
      </section>





      <!-- <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/1-01.png" alt="" class="img-fluid">
          </div>
          <h3><a href="service-details.html" class="stretched-link">TRUCARE
          </a></h3>
          <p>For printing & Converting 
            Clients. Leave you worries 
            about machine service to us.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/2-01.png" alt="" class="img-fluid">
          </div>
          <h3><a href="service-details.html" class="stretched-link">TRUHAUL
          </a></h3>
          <p>One time machine 
            overhaul to inject life 
            in to your machines.
            Enhance return on 
            capital employed.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/3-01.png" alt="" class="img-fluid">
          </div>
          <h3><a href="service-details.html" class="stretched-link">TRUSENSE
          </a></h3>
          <p>A service for OEMs
            only, that have their 
            machines serviced in 
            remote locations.</p>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/4-01.png" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">TRUSENSE
            </a></h3>
            <p>A service for OEMs
              only, that have their 
              machines serviced in 
              remote locations.</p>
          </div> -->



      <!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM -->


      <!-- ======= Testimonials Section ======= -->


      <!-- <div class="section-header">
      <span>Our Team</span>
      <h2>Our Team</h2>

    </div>
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="slides-1 swiper" data-aos="fade-up">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/1-01.png" class="testimonial-img" alt="">
                <h3>Dipanker Mukherjee</h3>
                <h4>Co &amp; Founder</h4>
    
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Over 30 years of industry experience, in sectors as Office Automation, Telecom in leadership positions. An alum of IIMA, worked in Fortune 500 companies, both Indian and Multinational. Experience in developing in new businesses and creating technology platforms.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/3-01.png" class="testimonial-img" alt="">
                <h3>Pavan Singh</h3>
                <h4>Co-Founder</h4>
                
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Technocrat with international exposure, with over 30 year experience in packaging and printing industry. Worked in both, multinational and Indian companies in India and abroad.
Expert in sustainable packaging.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/4-01.png" class="testimonial-img" alt="">
                <h3>Subhasis Roy</h3>
                <h4>Co-Founder</h4>
                
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  An engineer and an IIMC alum, with more than 30 years of experience, with core experience in packaging industry. Worked in India and abroad in leadership positions. Vast experience in setting up large projects in various industries.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/2-01.png" class="testimonial-img" alt="">
                <h3>Prem Vishwakarma</h3>
                <h4>Co-Founder</h4>
                
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  International exposure in converting industry. Worked both in India 
and abroad. Succesful entrepreneur
in machinery business.
Expert in machine optimisation solutions over various makes.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

            
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>End Testimonials Section -->


      </div>


      </div>


      </div>


      </div>


      </div>

      </div>

      </div>
      </div>

      </div>
    </section>

  </main>


  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">

            <img src="assets/img/logo video.gif" class="img-fluid mb-3 mb-lg-0" alt="">
            <span>CLOVERLEAF</span>
          </a>
          <p>Cloverleaf is led by a group of experienced founding members rich in industry and management experience.
            Not only in India but also abroad.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">E-Store</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>



        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            202, 2nd Floor, Tower-C, ITHUM,
            Plot No. A-40, Sector 62, Noida,
            Gautam Buddha Nagar, U.P. 201301 <br>
            <strong>Phone:</strong> +91 9911786123 <br>
            <strong>Email:</strong> contact@cloverleafglobal.in
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>CLOVERLEAF</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="#">Shree Nandik Technology</a>
      </div>
    </div>

  </footer>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>


  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>


  <script src="assets/js/main.js"></script>

</body>

</html>